# vim: et ai si sw=2
layout: "main"
logger: "file"
template: MyTt
# already set by plackup
#environment: production
charset: utf-8

engines:
  MyTt:
     start_tag: "[%"
     stop_tag: "%]"

expires:
  1 week: 604800
  1 day: 86400

plugins:
  Mongo:
    host: localhost:27017
    db_name: Pastedance
#    username: pastedance
#    password: ....
    auto_reconnect: 1
    auto_connect: 1
