<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Pastedance</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<!-- <link rel="stylesheet" type="text/css" href="/css/highlight.css" /> -->
<link rel="stylesheet" type="text/css" href="/css/pygments-emacs.css" />
<style type="text/css"><!--
.pygments .linenodiv { padding-right: 7px }
--></style></style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1><a href="/">Pastedance</a></h1>
<div id="content">
[% content %]
</div>
<div id="footer">
Powered by <a href="http://dancer.sukria.net">Dancer</a> <br />
</div>
</body>
</html>
