<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<title>[% "${subject} - " | html IF subject %]Pastedance</title>
<link rel="stylesheet" href="[% static | html %]css/ribbon.css" type="text/css" />
<link rel="stylesheet" href="[% static | html %]css/style.css" />
<link rel="stylesheet" type="text/css" href="[% static %]css/pygments-tango.css" /> 
<link type="text/css" href="[% static | html %]ui-lightness/jquery.ui.all.css" rel="stylesheet" />
<link rel="shortcut icon" href="/static/favicon.ico" />
<script type="text/javascript" src="[% static | html %]js/jquery.js"></script>
<script type="text/javascript" src="[% static | html %]js/jquery-ui.js"></script>
<script type="text/javascript" src="[% static | html %]js/jquery.watermarkinput.js"></script>
<script type="text/javascript" src="[% static | html %]js/modernizr-1.6.min.js"></script>

</head>
<body>
<a href="http://github.com/datamuc/Pastedance"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub" /></a>
[% content %]
<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer</a> [% dancer_version %]
<br />Syntax highlighting is done with <a href="http://pygments.org/">Pygments</a>,
      Thanks to <a href="http://search.cpan.org/dist/Inline-Python">Inline::Python</a>.
<br />Preferred command line utility is <a href="http://search.cpan.org/dist/App-Nopaste-Service-Pastedance">
      App::Nopaste::Service::Pastedance</a>
</div>
</body>
</html>
