<h2>Paste your Code</h2>

<form action="/" method="POST">
<input type="submit" value="Paste"><br />
<textarea name="code" rows="30" cols="80"></textarea><br />
<input type="submit" value="Paste"><br />
</form>
