[% USE date %]
<p>
[% url %][% id | uri | html %]<br />
<b>Date:</b> [% time.strftime('%Y-%m-%d %H:%M:%S') %]
<b>Expires:</b>
[% IF ! expires.is_negative %]
[% time.add(expires).strftime('%Y-%m-%d %H:%M:%S') %]
[% ELSE %]
never
[% END %]<br />

[% IF subject %]
<b>Subject:</b> [% subject | html %] [% END %]<b>Lang:</b> [% lang %]
<a href="[% url %]plain/[% id | uri | html %]">Plain</a><br />
</p>
<hr />
<div style="font-family: monospace">
[% code %]
</div>
